* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-col {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.big-text {
  font-size: 64px;
}
.sub-text{
  font-size: 36px;
}
.secondary-text{
  font-size: 24px;
}
button {
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 40px 190px 40px;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.emoji {
  font-size: 100px;
}
